body
  font-family: "Open Sans"

nav
  ul a, .brand-logo
    color: #fff
  .brand-logo
    padding: 2px 15px

nav#menu
  ul a, .brand-logo
    color: #000
  .brand-logo
    padding: 2px 15px

#user-menu
  color: #000
  padding: 2px 15px

.slide-username
  text-transform: uppercase
  font-weight: 900

.gray
  color: gray

#main-msg
  font-size: 24px
  font-weight: 600

.update-btn
  margin-bottom: 35px

// .user-name
//   background: #F44336
.final-enroll
  text-transform: uppercase

.user-body
  margin-top: 180px

.slideicon
  height: 24px
  width: 24px
  position: relative
  bottom: -10px
  margin-right: 10px

.update-button
  margin-top: 30px
nav#subpages
  ul a, .brand-logo
    color: #000

.form-holder
    position: relative

#label-enroll-stud, #new-enroll
  text-transform: uppercase

.gender
    margin-bottom: 10px

#male-radio
    padding-right: 35px

.new-form
    padding-top: 35px

.shifter
  margin-top: 85px

.new-submit
  margin-top: 15px

#index-banner
  height: 90vh

.success-update
  color: green

.parallax img
  background-size: cover
  background-position: center center
  background-repeat: no-repeat

.header-text
  position: relative
  top: 50vh

.three-col
  padding: 30px 0px

.aim
  font-weight: 500
  font-size: 48px
  text-shadow: 0 0 7px #A1D7FD

.quote svg
  fill: #fff
  height: 80px
  width: 80px
.hod
  padding-bottom: 50px
  img
    border-radius: 50%
    height: 200px
    width: 200px
  .hod-name
    padding-top: 15px
    font-size: 24px
    font-weight: bold
  .hod-post
    padding-top: 5px
    font-size: 20px

.prof
  margin-top: 60px

  .prof-mem
    display: inline-block
    font-size: 24px
    line-height: 26px
    padding-bottom: 30px

// Sorting.php
.combo

    .combo-year
        margin-top: 60px
    .mid-btn
        margin-top: 100px
        position: absolute
        margin-left: -75px
.form-header
    color: #d3d3d3
    text-transform: uppercase
    letter-spacing: 2px
    // margin-left: 38%
    font-size: 36px
    font-weight: bolder
    display: inline
    position: relative
    top: -30px
    background-color: #fff
    padding: 0px 20px
.edit
    // margin-bottom: 50px
    margin-bottom: 80px
    color: #9e9e9e
    // font-size: 22px
.top-line
    margin-top: 40px
.header-holder
    border: 0 
    height: 1px 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0) 

.imgbtn
    border:1px solid transparent
    height: 150px
    width: 150px
    background-color: #FFF
    border-radius: 50%
    text-transform: uppercase

    &:hover
        transition: all ease-in-out .5s
        background-color: #ee6e73
        color: #fff
        font-weight: bold
        letter-spacing: 2px
        font-size: 20px
        transform : scale(1.1)

.combo-sort
    text-transform: uppercase
    padding: 15px 30px
    border:2px solid teal
    background-color: #FFF
    color: teal
    border-radius: 30px
    position: relative
    margin-left: 38%
    margin-top: 30px
    margin-bottom:30px
    &:hover,&:active,&:focus
        transition: all ease-in .5s
        background-color: teal
        color: #fff
        // letter-spacing: 2px
        font-weight: bold
        border-radius: 30px



.inline-form form
    display: inline

    
.contact
  padding-bottom: 30px

.main-footer
  font-size: 28px

.col.l6.s12.center.footer-links
  padding-top: 45px

.hod
  padding-bottom: 50px
  img
    border-radius: 50%
    height: 200px
    width: 200px
  .hod-name
    padding-top: 15px
    font-size: 24px
    font-weight: bold
  .hod-post
    padding-top: 5px
    font-size: 20px

.prof
  margin-top: 60px
  .prof-mem
    display: inline-block
    font-size: 24px
    line-height: 26px
    padding-bottom: 30px

p
  line-height: 2rem

.button-collapse
  color: #26a69a

.parallax-container
  min-height: 380px
  line-height: 0
  height: auto
  color: rgba(255, 255, 255, 0.9)
  .section
    width: 100%

@media only screen and (max-width: 992px)
  .parallax-container .section
    position: absolute
    top: 40%
  #index-banner .section
    top: 10%

@media only screen and (max-width: 600px)
  #index-banner .section
    top: 0

.icon-block
  padding: 0 15px
  .material-icons
    font-size: inherit

footer.page-footer
  margin: 0
